@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

.font-code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  color: #6196cc;
}